@font-face {
    font-family: fixed;
    src: url("assets/fonts/Pixerif.ttf");
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: #111;
    color: white;
    font-family: fixed;
    font-size: 32px;
}

h1 {
    font-size: 48px;
    font-weight: normal;
    text-align: center;
    margin-top: 0px;
    text-transform: capitalize;
}

#gui-container {
    position: absolute;
    width: 100%;
    min-height: 100%;
    pointer-events: none;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gui-content {
    margin: 2rem;
    padding: 2rem;
    max-width: 40rem;
    background-color: #0d2f0b;
    border: solid 0.5rem #155908;
    pointer-events: auto;
    display: none;
    text-align: center;
}

a {
    color: #00998e;
    text-decoration: none;
}

a:hover {
    color: aqua;
}

.button {
    color: white;
    display: block;
}

.button:hover {
    color: red;
}

.hotkey-mark {
    color: red;
}
