$border-size: 8px;
$arrow-dist: 12px;

@mixin fullscreen-base($a, $b) {
    display: block;
    content: "";
    width: $border-size;
    height: $border-size;
    position: absolute;
    #{$a}: -$arrow-dist;
    #{$b}: -$arrow-dist;
    border-#{$a}: 4px solid white;
    border-#{$b}: 4px solid white;
}

#button-fullscreen {
    div {
        position: relative;
        width: 16px;
        height: 16px;
        border: 4px solid white;
        top: 12px;
        left: 12px;
    }
    div:before {
        @include fullscreen-base(top, left);
    }
    div:after {
        @include fullscreen-base(top, right);
    }
    span:before {
        @include fullscreen-base(bottom, left);
    }
    span:after {
        @include fullscreen-base(bottom, right);
    }
}
